/ThingsLpiddemo/Debug/**/**/**/**/**/*
/ThingsLpiddemo/Debug/**/**/**/**/*
/ThingsLpiddemo/Debug/**/**/**/*
/ThingsLpiddemo/Debug/**/**/*
/ThingsLpiddemo/Debug/**/*
/ThingsLpiddemo/Debug/*
/ThingsLpiddemo/EWARM/tPen/**/**/**/**/**/*
/ThingsLpiddemo/EWARM/tPen/**/**/**/**/*
/ThingsLpiddemo/EWARM/tPen/**/**/**/*
/ThingsLpiddemo/EWARM/tPen/**/**/*
/ThingsLpiddemo/EWARM/tPen/**/*
/ThingsLpiddemo/EWARM/tPen/*
/ThingsLonedemo/Debug/**/**/**/**/**/*
/ThingsLonedemo/Debug/**/**/**/**/*
/ThingsLonedemo/Debug/**/**/**/*
/ThingsLonedemo/Debug/**/**/*
/ThingsLonedemo/Debug/**/*
/ThingsLonedemo/Debug/*
/ThingsLonedemo/EWARM/tPen/**/**/**/**/**/*
/ThingsLonedemo/EWARM/tPen/**/**/**/**/*
/ThingsLonedemo/EWARM/tPen/**/**/**/*
/ThingsLonedemo/EWARM/tPen/**/**/*
/ThingsLonedemo/EWARM/tPen/**/*
/ThingsLonedemo/EWARM/tPen/*
/ThingsLpcb/封装库/*.htm
/ThingsLpcb/封装库/*.html
/ThingsLpcb/版图/*.htm
/ThingsLpcb/版图/*.html
/ThingsLpcb/版图/*.htm
/ThingsLpcb/版图/*.html
/ThingsLpcb/版图/__Previews/*
/ThingsLpcb/原理图库/__Previews/*
/ThingsLpcb/History/**/*
/ThingsLpcb/History/*
!.gitignore
