/tPen/Debug/**/**/**/**/**/*
/tPen/Debug/**/**/**/**/*
/tPen/Debug/**/**/**/*
/tPen/Debug/**/**/*
/tPen/Debug/**/*
/tPen/Debug/*
/tPen/EWARM/tPen/**/**/**/**/**/*
/tPen/EWARM/tPen/**/**/**/**/*
/tPen/EWARM/tPen/**/**/**/*
/tPen/EWARM/tPen/**/**/*
/tPen/EWARM/tPen/**/*
/tPen/EWARM/tPen/*
/电路/封装库/*.htm
/电路/封装库/*.html
/电路/版图/*.htm
/电路/版图/*.html
/电路/版图/*.htm
/电路/版图/*.html
/电路/版图/__Previews/*
/电路/原理图库/__Previews/*
/电路/History/**/*
/电路/History/*
!.gitignore
